<kt-portlet>
    <kt-portlet-header *ngIf="reportBoolean == false" [title]="'All Payments'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <div fxLayout fxLayoutAlign="center center">
				<mat-form-field appearance="outline" style="margin-top: 15px;">
					<mat-label>Search</mat-label>
					<input matInput placeholder="Search" [(ngModel)]="filterName" #searchTxt>
					<mat-icon matSuffix style="cursor: pointer"  [matTooltip]="'Search'" (click)="doFilter(searchTxt.value)">search</mat-icon>
				</mat-form-field>
            </div>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-header *ngIf="reportBoolean == true" [title]="'Payments Report'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <div fxLayout fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                    <input matInput type="text" [(ngModel)]="filterName" #searchTxt placeholder="Search">

                </mat-form-field>

                <button mat-mini-fab color="warn" class="button-row">
					<mat-icon style="cursor: pointer"  [matTooltip]="'Search'" (click)="doFilter(searchTxt.value)" >search </mat-icon>
				</button>

            </div>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="kt-form__filtration">
            <div class="row align-items-center">
                <div id="header-search" class="col-xs-12 col-sm-12 col-md-8 kt-margin-bottom-10-mobile">
                    <mat-form-field *ngIf="reportBoolean == true" class="date-picker" color="accent">
                        <mat-label>Select Start Date</mat-label>
                        <input [min]="minDate" (dateInput)="ngModelChangeStartDate($event.value)" matTooltip="Click on icon to pick the date" [max]="maxDate" matInput readonly [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field *ngIf="reportBoolean == true" class="date-picker" color="accent">
                        <mat-label>Select End Date</mat-label>
                        <input [min]="minEndDate" (dateInput)="ngModelChangeEndDate($event.value)" matTooltip="Click on icon to pick the date" [max]="maxEndDate" matInput readonly [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 kt-margin-bottom-10-mobile">
                    <button *ngIf="reportBoolean == false" [disabled]="selectedTab !== 2" (click)="createSettlement()" style=" float: right" mat-raised-button color="primary" matTooltip="Create">
						Create Settlement
					</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 kt-margin-bottom-10-mobile">
                    <button mat-raised-button style="float: right; background-color: #44aea8" (click)="reloadList()" [matTooltip]="'Reload List'" class="button-row">
						<mat-icon style="width: 25px; color: white">refresh</mat-icon></button>
                    <button mat-raised-button *ngIf="reportBoolean == true" color="primary" [disabled]="loading" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" style="position:absolute;margin-left:15px;right: 100px;" (click)="searchPayment()">Search</button>
                </div>

            </div>
        </div>

		<mat-tab-group [selectedIndex]="selectedTab"
					   (selectedIndexChange)="onTabChange($event)">
			<mat-tab label="All">
				<ng-container *ngTemplateOutlet="tb"></ng-container>
			</mat-tab>
			<mat-tab label="Created">
				<ng-container *ngTemplateOutlet="tb"></ng-container>
			</mat-tab>
			<mat-tab label="Successful">
				<ng-container *ngTemplateOutlet="tb"></ng-container>
			</mat-tab>
			<mat-tab label="Cancelled">
				<ng-container *ngTemplateOutlet="tb"></ng-container>
			</mat-tab>
			<mat-tab label="Rejected">
				<ng-container *ngTemplateOutlet="tb"></ng-container>
			</mat-tab>
			<mat-tab label="Failed">
				<ng-container *ngTemplateOutlet="tb"></ng-container>
			</mat-tab>
		</mat-tab-group>


<!--		<div>-->
<!--			<kt-generic-table [data]="test" [columns]="testC" [select]="true" [view]="true"></kt-generic-table>-->
<!--		</div>-->

    </kt-portlet-body>
</kt-portlet>
<ng-template #tb>
	<div class="example-container" style="margin-top: 15px">
		<table mat-table [dataSource]="dataSource" matSort style="width: 100%">

			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef style="width: 60px">
					<mat-checkbox
						[checked]="checkAll"
						(change)="checkTotal($event)"
						[aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let element; let i= index" style="width: 60px">
					<mat-checkbox (change)="checkOne(element,i)"  [checked]="checkArr[i].selected" [aria-label]="checkboxLabel(element)">
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container matColumnDef="createdTs">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
				<td mat-cell *matCellDef="let element"> {{element.createdTs.slice(0,10)}} </td>
			</ng-container>

			<ng-container matColumnDef="orderId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
				<td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
			</ng-container>

			<ng-container matColumnDef="orderReference">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Order Reference</th>
				<td mat-cell *matCellDef="let element"> {{element.orderReference}} </td>
			</ng-container>

			<ng-container matColumnDef="totalAmount">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
				<td mat-cell *matCellDef="let element"> {{element.totalAmount}} {{element.currency}} </td>
			</ng-container>

			<ng-container matColumnDef="orderStatus">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
				<td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
			</ng-container>

			<ng-container matColumnDef="transactionStatus">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Status</th>
				<td mat-cell *matCellDef="let element"> {{element.transactionStatus}} </td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
				<td mat-cell *matCellDef="let element">
					<button (click)="view(element.id)" mat-raised-button>View</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<!-- Message for empty data  -->
		<div class="mat-table__message" *ngIf="noData"
			 style="height: 100px;
				 text-align: center;
				 display: flex;
				 flex-direction: column;
				 justify-content: center;
				 align-items: center;
				 font-size: 16px;">
			<mat-icon style="font-size: 25px !important;">warning</mat-icon>
			<p>No records found</p>
		</div>
		<!-- Message for empty data  -->
		<div class="mat-table__message" *ngIf="waiting">Please wait....</div>
	</div>
	<mat-paginator #paginator [pageSize]="10"
				   [pageSizeOptions]="[10,20,30,40]"
				   (page)="onPaginationChange($event)"
				   [length]="totalData"
				   [showFirstLastButtons]="true">
	</mat-paginator>
</ng-template>
