.example-container .mat-form-field {
    // width: 270px;
    width: 361px;
}

.example-container .mat-form-field {
    margin-left: 50px;
}
button.final-btn {
    margin-right: 23px;
}
.final-btn {
    margin-right: 15px;
}

#final-btn-save:hover {
  background: #ff4081!important;
  color: azure;
}
#final-btn-skip:hover {
  background: #f44336!important;
  color: azure;
}